body{
    height: 100vh;
}

.telo{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 45% 5% 5% 45%;
    grid-template-columns: 45% 10% 45%;
}

p{
    text-align: center;
    margin-top: 40vh;
}